/*****************************************
SELECTION METHODS AND CSS3 PROPERTIES
******************************************/
* 	{
    box-sizing:border-box;
        }

    body {
        background-color:darkgreen;
        background-color:#0c6339;
        };






    /* 1 -  By TAG (html name)
     Straigh selection from the DOM element
    ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ */












    .fit {
        width:100%;

    }




    .slabo {
      font-family: 'Slabo 27px', serif;
      color:azure;
    }


    .slabo.title.withDecoration:after,
    .slabo.title.withDecoration:before,
    .slabo.subtitle.withDecoration:after,
    .slabo.subtitle.withDecoration:before {
      content:'♦';
    }



    .title {
      font-size:1.5em;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
    }
    .subtitle {
      font-size:1.0em;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
    }

    .slabo.text {
      font-size:0.7em;
      letter-spacing:2px;
      padding-left: 10px;
      margin-left: 10px;
      border-left: dotted white 3px ;
    }


        /*pseudo selector:hover -  apply effects when user
    enter the pointer inside the element*/
    .onTable {
        cursor:pointer;
        transform: translateX(3em) translateY(5em) rotateY(-15deg) rotateX(75deg) rotateZ(-5deg);

        transform-origin:bottom right;

        transition:all .2s ease-in-out;

        z-index: 1;
    }

    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }


    .centered2 {
        position: relative;
        margin: 0 auto;
        height: 25%;
        width: 25%;

      }


    .onHand{
        cursor:pointer;

        transform-origin:bottom right;

        transition:all .2s ease-in-out;

        z-index: 2;
    }



    .isPlayerHand .onTable{
      cursor:none;
      transform: none !important ;
      transform-origin:bottom right;

      transition:all .2s ease-in-out;

      transform: translateY(5em) scale(1.2) rotateX(0)rotateY(0)rotateZ(0) !important;  
      z-index: 2;
  }

    .isPlayerHand .onHand{
      cursor:pointer;

      transform: translateY(20vh) scale(3.1);

      transform-origin:bottom right;

      transition:all .2s ease-in-out;

      

      z-index: 4000 !important; 
  }







    .wrap{
        width: 100%;
        display:flex;
        position:relative;
        justify-content: center;
        }
    .card{
    height:120px;
    width:80px;
    background:blue;
    border:1px solid black;
    border-radius:5px;
    position:relative;
    top:30px;
    transition: transform .2s;
    z-index: 2;
    }
